@import url("https://fonts.googleapis.com/css?family=Mirza&amp;subset=latin-ext");

* {
  box-sizing: border-box;
}

body {

  background-image: url("https://img.freepik.com/free-photo/asian-woman-wearing-vietnam-culture-traditional-african-fountain-flower-field_335224-845.jpg?t=st=1729053299~exp=1729056899~hmac=56951c5fd2d5c5cd3f5eca40ffb0e52660507e5045259c85656c51dc5b6eb347&w=1380");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  .merry-christmas {
    /* transform: rotate(-20deg); */
    display: block;
    
    
  }

  .left-card img {
    /* content: url("https://img.freepik.com/free-vector/hand-drawn-ethnic-beauty-illustration_23-2150197829.jpg?t=st=1729053012~exp=1729056612~hmac=b397bd5e781f2e79e647f428ed9bce7ebd4255b43526b0c9111bc1d1f2211729&w=740");  */
    content: url("other/images/quin.jpg");
    width: 60%; 
    height: 60%;
    object-fit: contain;
    /* padding-top: 15%; */
    border-radius: 5%;
  }
  .textcontainer {
    text-align: center;
    padding-bottom: 15%;
    margin-top: -5%;
  }

  .particletext {
    margin: 0;
    text-align: center;
    font-size: 48px;
    position: relative;

    &.hearts {
      >.particle {
        opacity: 0;
        position: absolute;
        background-color: rgba(204, 42, 93, 1);
        animation: hearts 3s ease-in infinite;

        &:before,
        &:after {
          position: absolute;
          content: '';
          border-radius: 100px;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          background-color: rgba(204, 42, 93, 1);
        }

        &:before {
          transform: translateX(-50%);
        }

        &:after {
          transform: translateY(-50%);
        }
      }
    }
  }
  overflow: hidden;
}
#greeting {
  display: none;
}

.card {

  perspective: 1500px;
  position: absolute;
  left: calc(50% - 175px);
  top: calc(50% - 250px);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: initial;
  transform: rotate(-10deg) translate(0, 0);
  -webkit-animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
  animation: cardIn 1s alternate cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
@media (max-width: 767px) {
  .card {
    left: calc(50% - 115px);
    top: calc(50% - 164.5px);
  }
}
@media (max-width: 479px) {
  .card {
    left: calc(50% - 75px);
    top: calc(50% - 107px);
  }
}
.card:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px #000;
  transition: all 0.5s ease-in-out;
  /* background-image: url("https://img.freepik.com/free-vector/hand-drawn-ethnic-beauty-illustration_23-2150197829.jpg?t=st=1729053012~exp=1729056612~hmac=b397bd5e781f2e79e647f428ed9bce7ebd4255b43526b0c9111bc1d1f2211729&w=740"); */
}
.card.is-opened {
  transform: rotate(0deg) translate(175px, 0);
}
@media (max-width: 767px) {
  .card.is-opened {
    transform: rotate(0deg) translate(115px, 0);
  }
}
@media (max-width: 479px) {
  .card.is-opened {
    transform: rotate(0deg) translate(75px, 0);
  }
}
.card.is-opened .cart-page-front {
  transform: rotateY(-180deg);
}

@-webkit-keyframes cardIn {
  0% {
    opacity: 0;
    transform: rotate(-10deg) translate(0, -100%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(-10deg) translate(0, 0);
  }
}

@keyframes cardIn {
  0% {
    opacity: 0;
    transform: rotate(-10deg) translate(0, -100%);
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: rotate(-10deg) translate(0, 0);
  }
}
.card,
.card-page {
  width: 350px;
  height: 500px;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .card,
  .card-page {
    width: 230px;
    height: 329px;
  }
  .greeting{
    font-family: 'Style Script', serif;
    font-size: 28px; 
    color: #3d4c41;
  }
}
@media (max-width: 479px) {
  .card,
  .card-page {
    width: 150px;
    height: 214px;
  }
  .greeting{
    font-family: 'Style Script', serif;
    font-size: 22px; 
    color: #3d4c41;
  }
}

.card-page {
  transition: transform 1s ease-in-out;
  cursor: pointer;
  position: absolute;
  outline: 1px solid transparent;
}

.cart-page-front {
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transform: rotateY(-20deg);
  z-index: 2;
}

.cart-page-outside,
.cart-page-inside {
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.cart-page-outside {
  border: 10px solid #fbfbfb;
  
  background: #fdf0df url("https://img.freepik.com/free-vector/hand-drawn-ethnic-beauty-illustration_23-2150197829.jpg?t=st=1729053012~exp=1729056612~hmac=b397bd5e781f2e79e647f428ed9bce7ebd4255b43526b0c9111bc1d1f2211729&w=740") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .cart-page-outside {
    border: 5px solid #fbfbfb;
  }
}

.cart-page-inside,
.cart-page-bottom {
  background-color: #fdf0df;
  /* background-image: url("https://img.freepik.com/free-vector/soft-yellow-watercolor-texture-background_1055-10236.jpg?t=st=1729060070~exp=1729063670~hmac=8fe969d3e223844837d20634c1494d41a83ed7f924230c522796eebbffbdcaf5&w=996https://www.freepik.com/designer/edit/share/fe8ae9ca-06dc-4c67-9a4f-05ba8dbedfa4?embed=0&expires=1729146817&signature=0827c5e2f88711f6b128f84003fa5b19de5ec7e92db5d1d849de57be28b84b78#rs=link"); */
  background-size: contain;
  
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  text-align: center;
}
@media (max-width: 767px) {
  .cart-page-inside,
  .cart-page-bottom {
      border: 0px solid #d4d1d0;
    }
}
.cart-page-inside {
  transform: rotateY(-180deg);
  border-right: none !important;
  background-position: 0px 60px;
}
@media (max-width: 767px) {
  .cart-page-inside {
    background-position: 0px 10px;
  }
}
@media (max-width: 479px) {
  .cart-page-inside {
    background-position: 0px 30px;
  }
}

.cart-page-bottom {
  z-index: 1;
  border-left: none !important;
  background-position: -22px 80px;
}
@media (max-width: 767px) {
  .cart-page-bottom {
    background-position: 85px 30px;
  }
}
@media (max-width: 479px) {
  .cart-page-bottom {
    background-position: 0px 30px;
  }
}



@keyframes hearts {
	0% {
	   opacity: 0;
	   transform:translate(0, 0%) rotate(45deg);
	}
	20% { 
	   opacity: 0.8;
	   transform:translate(0, -20%) rotate(45deg);
	}
	100% {
	   opacity: 0;
	   transform:translate(0, -1000%) rotate(45deg); 
	}
 }

@font-face {
  font-family: 'iCiel Hipsteria'; 
  src: url(other/font/iCielHipsteria.ttf) format('truetype'); 
}

.card .cart-page-inside {
  white-space: pre-line; /* Cho phép dấu xuống dòng hoạt động */
}
.click-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 20px;
  -webkit-animation: iconAnimation 1s infinite alternate ease-in-out;
  animation: iconAnimation 1s infinite alternate ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.click-icon svg {
  width: 96px;
  height: 96px;
}
@media (max-width: 767px) {
  .click-icon svg {
    width: 72px;
    height: 72px;
  }
}
@media (max-width: 479px) {
  .click-icon svg {
    width: 48px;
    height: 48px;
  }
}
.click-icon.is-hidden {
  opacity: 0;
}

@-webkit-keyframes iconAnimation {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 10px);
  }
}

@keyframes iconAnimation {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 10px);
  }
}
p {
  font-family: "Mirza", Verdana, Arial, serif;
  font-size: 36px;
  line-height: 1.2em;
  padding-left: 10px;
}
@media (max-width: 767px) {
  p {
    font-size: 24px;
  }
}
@media (max-width: 479px) {
  p {
    font-size: 20px;
  }
}


@keyframes text-show {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}